.show-all-custom {
  span {
    color: #dadee7 !important;
  }
  &:hover {
    svg {
      rect,
      path {
        stroke: #2252da !important;
        color: #2252da;
      }
    }
    span {
      color: #2252da !important;
    }
  }
}
