.ant-picker {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;

  .ant-picker-suffix {
    display: none;
  }
  .ant-picker-input {
    input {
      font-weight: 500;
      color: #b9c4ce;
      text-align: end;
    }
  }
}
